body {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url("/images/ticket.jpeg");
    background-position: top center;
    background-size: 100vw;
}

h1 {
    margin-top: 25vh;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 7vh;
}