body {
    background-color: hotpink;
    margin: 0;
}

#ticket {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    background-image: url("/images/ticket.jpeg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
    max-width: 800px;
    padding-top: 40vh;
    margin: 0 auto;
    text-align: center;
}

p {
    margin-top: 2em;
}